appnope==0.1.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
boto==2.48.0
bz2file==0.98
certifi==2017.4.17
chardet==3.0.4
constantly==15.1.0
cycler==0.10.0
Cython==0.26
decorator==4.1.1
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.5
django-toolbelt==0.0.1
enum34==1.1.6
functools32==3.2.3.post2
gnureadline==6.3.3
gunicorn==19.7.1
httpretty==0.8.14
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
ipython==4.0.0
ipython-genutils==0.2.0
networkx==1.11
packaging==16.8
panda==0.3.1
pandas==0.20.3
path.py==10.3.1
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
pip-review==0.5.3
psycopg2==2.7.3.1
ptyprocess==0.5.2
pyparsing==2.2.0
pyreadline==2.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.1
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
smart-open==1.5.3
static3==0.7.0
stevedore==1.25.0
subprocess32==3.2.7
traitlets==4.3.2
turtle==0.0.2
Twisted==17.5.0
urllib3==1.21.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wget==3.2
zope.interface==4.4.2
