{% extends 'base.html' %}

{% block content %}
  <h2>ツイートする</h2>
  <form action="/pakutter/tweet/" method="post">
    {% csrf_token %}
    <input type="textarea" name="new_tweet" maxlength="140">
    <input type="submit" value="送信">
  </form>

  <h2>タイムライン</h2>
  {{ followee_id_list }}
  {% if tweet_list %}
    <table class="tweets">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>内容</th>
          <th>詳細</th>
          <th>投稿日時</th>
        </tr>
      </thead>
      <tbody>
        {% for tweet in tweet_list %}
          <tr>
            <td><a href="/pakutter/user/{{tweet.user.id}}/">{{ tweet.user.username }}</td>
            <td>{{ tweet.text }}</td>
            <td><a href="/pakutter/tweet/{{tweet.id}}/">詳細</td>
            <td>{{ tweet.created_at }}</td>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>ツイートなし</p>
  {% endif %}
{%endblock%}
