{% extends 'base.html' %}

{% block content %}
  <!-- <h2>{{ user.username }}</h2>
  <form action="/pakutter/user/{{user.id}}/follow/" method="post">
    {% csrf_token %}
    <input type="submit" value="フォローする">
  </form>

  <form action="/pakutter/user/{{user.id}}/unfollow/" method="post">
    {% csrf_token %}
    <input type="submit" value="リムーブ">
  </form> -->

  <h2>{{ poster.username }}のツイート</h2>
    <table class="tweets">
      <thead>
        <tr>
          <th>tweet.text</th>
          <th>tweet.created_at</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ tweet.text }}</td>
            <td>{{ tweet.created_at }}</td>
      </tbody>
    </table>

{%endblock%}
