{% extends 'base.html' %}

{% block content %}
  <h1>{{ user_name }}</h1>

  <a href="">フォローする</a>

  <h2>{{ user_name }}のツイート一覧</h2>
  {% if tweet_list %}
    <table class="tweets">
      <thead>
        <tr>
          <th>text</th>
          <th>created_at</th>
        </tr>
      </thead>
      <tbody>
        {% for tweet in tweet_list %}
          <tr>
            <td>{{ tweet.text }}</td>
            <td>{{ tweet.created_at }}</td>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>ツイートなし</p>
  {% endif %}
{%endblock%}
