{% extends 'base.html' %}

{% block content %}
  <h2>{{ user.username }}</h2>
  {% if user.username != login_user.username %}
    {% if login_user in followers %}
      <form action="/pakutter/user/{{user.id}}/unfollow/" method="post">
        {% csrf_token %}
        <input type="submit" value="リムーブ">
      </form>

    {% else%}
      <form action="/pakutter/user/{{user.id}}/follow/" method="post">
        {% csrf_token %}
        <input type="submit" value="フォローする">
      </form>
    {% endif %}
  {% endif %}


  <h2>{{ user.username }}のツイート一覧</h2>
  {% if tweet_list %}
    <table class="tweets">
      <thead>
        <tr>
          <th>text</th>
          <th>created_at</th>
        </tr>
      </thead>
      <tbody>
        {% for tweet in tweet_list %}
          <tr>
            <td>{{ tweet.text }}</td>
            <td>{{ tweet.created_at }}</td>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>ツイートなし</p>
  {% endif %}

  <h2>フォロー</h2>
  {% if followees %}
    {% for followee in followees %}
      <a href="/pakutter/user/{{followee.id}}/">{{ followee.username }}</a>
    {% endfor %}
  {% else %}
    <p>誰もフォローしていません</p>
  {% endif %}
  <h2>フォロワー</h2>
  {% if followers %}
    {% for follower in followers %}
      <a href="/pakutter/user/{{follower.id}}/">{{ follower.username }}</a>
    {% endfor %}
  {% else %}
    <p>フォロワーがいません</p>
  {% endif %}
{%endblock%}
